@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,latin-ext);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {}

body {
	background: black;

	font-family: 'Ubuntu Mono', Menlo;
	font-size: 18px;
	height: 100%;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

p { 
	margin: 0;
	padding: 0;
}

input {
	border: 0;
	outline: 0;
	background: #f7f;
	padding: 9px;

	font-family: 'Ubuntu Mono', Menlo;
	font-size: 18px;

	display: inline;
	position: relative;
	width: auto;

	text-align: center;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	position: absolute;
	width: 100%;
	height: 90px;
	z-index: -100;
	top: -27px;
	left: 0;
	background: #ff77ff;
}

input::-webkit-inner-spin-button:before {
	content: '\02B06';
}

input::-webkit-inner-spin-button:after {
	content: '\02B07';
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 27px;
	background: #ff77ff;
}

input[type="number"] {
	width: 54px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border: 0;
	border-radius: 0;
	outline: 0;
	background: #f7f;
	padding: 9px;

	font-family: 'Ubuntu Mono', Menlo;
	font-size: 18px;

	display: inline;
	position: relative;
	width: auto;

	text-align: center;
}
