body {
  counter-reset: footnote;
}

.footnote {
  font-family: Inconsolata;
  font-size: 10pt;
  position: relative;
  vertical-align: super;
  cursor: pointer;
  padding: 2px;
}

a.footnote:hover {
  text-decoration: none;
}

.note {
  border: thin solid black;
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 100%;
  min-width: 10em;
  word-wrap: break-word;

  background: white;
  z-index: 100;
}

a.footnote:before {
  content: '[' counter(footnote) ']';
  counter-increment: footnote;
}

#footnotes {
  display: none;
}

.print-only {
  display: none;
}

@media print {
  #footnotes {
    display: block;
  }

  a { color: black; }

  .print-only {
    display: inline;
  }
}

body {
  font-family: 'proxima-nova', 'Proxima Nova', Helvetica, sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
}

header h1 {
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-weight: 100;
  font-size: 20pt;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 16pt;
}

h2 {
   margin-bottom: 0;
}

.dates {
  color: rgb(20, 20, 20);
  font-weight: 400;
}

p {
  font-weight: 400;
}

@media screen {
  section {
    max-width: 640px;
    margin: auto;
  }

  section + section {
    margin-top: 25px;
  }
}