@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

body {
  counter-reset: footnote;
  background: none;
  padding: 0;
  margin: 0;
}

.footnote {
  font-family: Inconsolata;
  font-size: 10pt;
  position: relative;
  vertical-align: super;
  cursor: pointer;
  padding: 2px;
}

a.footnote:hover {
  text-decoration: none;
}

.note {
  border: thin solid black;
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 100%;
  min-width: 10em;
  word-wrap: break-word;

  background: white;
  z-index: 100;
}

a.footnote:before {
  content: '[' counter(footnote) ']';
  counter-increment: footnote;
}

#footnotes {
  display: none;
}

.print-only {
  display: none;
}

@media print {
  #backdrop { display: none; }
  
  #footnotes {
    display: block;
  }

  a { color: black; }

  .print-only {
    display: inline;
  }
}

body {
  font-family: Nunito, Helvetica, sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 400;
  font-size: 20pt;
  margin: 0;
  color: #1D111C;
  text-align: right;
}

h2 {
  font-weight: 400;
  font-size: 16pt;
}

h2 {
   margin-bottom: 0;
}

.dates {
  color: rgb(20, 20, 20);
  font-weight: 400;
}

p {
  font-weight: 400;
}

/* .hbox {
  display: flex;
  flex-flow: row nowrap;  
}

.content {
  overflow: scroll;
  height: 100vh;
  flex-grow: 1;
} */

#headshot {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -200;
  height: 100vh;
  width: 80vh;
  background: url(ashi-headshot-01.jpg) no-repeat;
  background-size: contain;
}

.tile {
  background: url(ashi-headshot-01-blur.png) no-repeat;
  background-attachment: fixed;
  background-size: auto 100vh;    
  
  padding: 9px;
}

.content {
  max-width: 640px;   
  margin: auto; 
  margin-top: 100vh;
}


@media screen and (min-width: 1024px) {
  .content {
    margin-top: 0;
    margin-left: 40vw;    
  }
}


@media screen {
  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;    
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;    
  }

  .base {
    transform: translateZ(0);
  }
  .back {
    transform: translateZ(-2px) scale(3);
  }

  #backdrop {
    position: fixed;
    top: 0; left: 0;  
    background: url(lilac-gradient.jpg) repeat-x;
    width: calc(100vw + 10px);
    height: calc(100vh + 10px);
    filter: blur(4px);
    z-index: -200;
    background-size: auto 100vh;    
  }

  /* #headshot {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background: url(ashi-headshot-01.jpg) no-repeat;
    background-size: contain;
  } */

  #card.hidden { opacity: 0; }

  #card {
    position: fixed;
    bottom: 9px; left: 9px;
    color: #FDF4F9;
    opacity: 0.9;
    font-size: 18px;
    font-variant: normal;
    text-shadow:1px 1px 1px #1D111C;
    transition: opacity 113ms;
    opacity: 1;
  }

  #card a {
    color: #FDF4F9;
    font-size: 28px;
    font-variant: normal;
  }

  #card h1 {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: -5px;
    font-size: 24px;
    color: #FDF4F9;
  }

  #card h2 {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
  }

  section {
    margin: auto;
    max-width: 640px;
  }

  section + section {
    margin-top: 35px;
  }
}

address {
  font-style: normal; 
}

#card .email i {
  transform: scale(0.8);
}
