@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400');

body {
  counter-reset: footnote;
  background: none;
  padding: 0;
  margin: 0;
}

.footnote {
  font-family: Inconsolata;
  font-size: 10pt;
  position: relative;
  vertical-align: super;
  cursor: pointer;
  padding: 2px;
}

a.footnote:hover {
  text-decoration: none;
}

.note {
  border: thin solid black;
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 100%;
  min-width: 10em;
  word-wrap: break-word;

  background: white;
  z-index: 100;
}

a.footnote:before {
  content: '[' counter(footnote) ']';
  counter-increment: footnote;
}

#footnotes {
  display: none;
}

.print-only {
  display: none;
}

@media print {
  #backdrop { display: none; }
  
  #footnotes {
    display: block;
  }

  a { color: black; }

  .print-only {
    display: inline;
  }
}

body {
  font-family: Nunito, Helvetica, sans-serif;
  font-size: 20px;
}

.job-detail { display: none; }

a {
  text-decoration: none;
  font-weight: 700;
  /* color: rgb(255, 249, 252); */
  color: #1D111C;
}

.full-viewport {
  width: 100vw;
  height: 100vh;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  /* color: #FDF4F9;   */
  /* color: rgb(255, 249, 252);   */
  color: #1D111C;
  text-align: right;
}

p, li {
  font-weight: 400;
}

.content {
  max-width: 640px;   
  margin: auto;
  padding: 9px;
}

.job-md {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 640px;
  margin-bottom: 22px;
}

.job-md-logo {
  height: 30px;
  padding: 9px;
  text-align: center;
  order: 2;
}

.job-md-place, .job-md-position {  
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
  line-height: 22px;
}

.job-md-place {
  order: 1;
  width: 50%;
  text-align: right;
}

.job-md-position {
  order: 3;
  width: 50%;
}

.job-md-position {
  /* flex-grow: 1; */
}

.fold {
  transition: border 113ms;
}

.is-folded {
  overflow: hidden;
  height: 0;
  border-bottom: thin solid transparent;
  border-top: thin solid transparent;
}

.is-unfolded {
  border-bottom: thin solid #5f1e4c7c;
  border-top: thin solid #5f1e4b7c;
}

.fold-content {
  transition: clip-path 200ms;
}

.fold-content.is-visible {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
}

.fold-content.is-hidden {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);  
}

.job-md-dates {
  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(100% + 9px));

  font-weight: 300;
  font-size: 16px;
}

.job-description {
  margin-left: 30px;
  margin-right: 30px;
}

.scanline {
  border-bottom: 1px solid fuchsia;
}

#been-hacking {
  text-align: center;
  margin-top: 18px;
}

@media screen {
  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin: 100% 0;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 100% 0;
  }

  .above {
    transform: translateZ(1px);
  }

  .front {
    transform: translateZ(0);
    z-index: 500;
  }

  .mid {
    transform: translateZ(-1px) scale(2);    
  }

  .back {
    transform: translateZ(-2px) scale(3);
    z-index: -1000;
  }

  .back-back {
    transform: translateZ(-3px) scale(4);
    z-index: -2000;
  }

  #hero {
    background: url(lilac-gradient.jpg) repeat-x;
    background-size: auto 110%;

    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
  }

  #headshot {
    background: url(ashi-headshot-01.jpg) no-repeat;
    background-size: auto 110%;
    background-position-x: -100px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  #by-nadya {
    position: absolute;
    left: 9px; bottom: 9px;

    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    
    color: #FDF4F9; 
    text-shadow:1px 1px 1px #1D111C;
    opacity: 0.7; 
  }

  #hi {
    position: fixed;
    left: 50%; bottom: 0;
    transform: translate(-50%, -50%);

    color: hsla(328, 100%, 97%, 0.904);
    text-align: center;
    font-weight: 300;
    font-size: 9vh;
  }

  #resume {
    color: #5f1e4b;
    background: #FDF4F9;
    width: 100vw;
    margin-top: 100vh;
  }

  #card.hidden { opacity: 0; }

  #card {
    position: fixed;
    top: 0;
    right: 9px;    
    /* transform: translateY(-100%); */
    z-index: 100;
    
    color: #1D111C;
    opacity: 0.9;
    font-size: 18px;
    text-shadow:1px 1px 0px #FDF4F9;
    transition: opacity 113ms;
    opacity: 0.9;
    
    display: flex;
    flex-flow: column nowrap;
    transition: text-shadow 113ms;
  }

  #card.invert {
    text-shadow:1px 1px 0px #1D111C;
  }

  #card.invert a {
    color: #FDF4F9;    
  }

  h1.fn { display: none; }

  #card a {
    color: #1D111C;
    font-size: 42px;
    font-variant: normal;
    transition: color 113ms;
  }

  #card a:hover {
    text-decoration: none;
  }

  #card h1 {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: -5px;
    font-size: 24px;
    color: #FDF4F9;    
  }

  section {
    margin: auto;
    max-width: 640px;
  }

  section + section {
    margin-top: 35px;
  }
}

address {
  font-style: normal; 
}

#card .email i {
  transform: scale(0.8);
}

/* #filters { display: none; } */