/* Ubuntu Mono */
@import 
html, body {
	margin: 0; padding: 0;
	width: 100%; height: 100%;

	background: black;
}

viewing-room {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	font-family: 'Ubuntu Mono';
	font-size: 12px;
}